In [81]:
import io
import pandas as pd
import requests
from pprint import pprint
import json
import sqlite3

In [82]:
#Get Banks in California
params={
    'filters': 'STALP:CA AND ACTIVE:1',
    'fields': 'ZIP,CITY,STNAME,NAME,CERT',
    'limit': 10,
    'offset':0
}

resp = requests.get('https://banks.data.fdic.gov/api/institutions', 
                    params, headers={'Accept': 'json'}, stream=True)

In [10]:
fdic_data = resp.json()
pprint(fdic_data)

{'data': [{'data': {'CERT': '1536',
                    'CITY': 'Stockton',
                    'NAME': 'Bank of Stockton',
                    'STNAME': 'California',
                    'ZIP': '95202'}},
          {'data': {'CERT': '21956',
                    'CITY': 'Santa Barbara',
                    'NAME': 'Montecito Bank & Trust',
                    'STNAME': 'California',
                    'ZIP': '93101'}},
          {'data': {'CERT': '22366',
                    'CITY': 'Los Angeles',
                    'NAME': 'GBC International Bank',
                    'STNAME': 'California',
                    'ZIP': '90036'}},
          {'data': {'CERT': '22460',
                    'CITY': 'Monterey',
                    'NAME': 'Monterey County Bank',
                    'STNAME': 'California',
                    'ZIP': '93940'}},
          {'data': {'CERT': '25648',
                    'CITY': 'Long Beach',
                    'NAME': 'International City Bank Federal Savings Bank',
                    'STNAME': 'California',
                    'ZIP': '90802'}},
          {'data': {'CERT': '26271',
                    'CITY': 'San Diego',
                    'NAME': 'Home Bank of California',
                    'STNAME': 'California',
                    'ZIP': '92123'}},
          {'data': {'CERT': '26363',
                    'CITY': 'Claremont',
                    'NAME': 'Community Commerce Bank',
                    'STNAME': 'California',
                    'ZIP': '91711'}},
          {'data': {'CERT': '23749',
                    'CITY': 'San Francisco',
                    'NAME': 'Mission National Bank',
                    'STNAME': 'California',
                    'ZIP': '94103'}},
          {'data': {'CERT': '23998',
                    'CITY': 'Los Angeles',
                    'NAME': 'State Bank of India (California)',
                    'STNAME': 'California',
                    'ZIP': '90017'}},
          {'data': {'CERT': '24332',
                    'CITY': 'Los Angeles',
                    'NAME': 'First Credit Bank',
                    'STNAME': 'California',
                    'ZIP': '90069'}}],
 'meta': {'index': {'createTimestamp': '2018-11-14T02:00:31Z',
                    'name': 'institutions_1542160831903'},
          'parameters': {'fields': 'ZIP,CITY,STNAME,NAME,CERT',
                         'filters': 'STALP:CA AND ACTIVE:1',
                         'limit': '10',
                         'offset': '0'},
          'total': 155}}

In [7]:
resp.json().keys()

dict_keys(['meta', 'data'])

In [8]:
resp.json()['meta']

{'total': 155,
 'parameters': {'filters': 'STALP:CA AND ACTIVE:1',
  'fields': 'ZIP,CITY,STNAME,NAME,CERT',
  'limit': '10',
  'offset': '0'},
 'index': {'name': 'institutions_1542160831903',
  'createTimestamp': '2018-11-14T02:00:31Z'}}

In [64]:
print(resp.json()['data']['data'].get('ZIP'))

TypeError: list indices must be integers or slices, not str

In [57]:
pd.DataFrame((d['data'].get('NAME') for d in resp.json()['data']))

                                              0
0                              Bank of Stockton
1                        Montecito Bank & Trust
2                        GBC International Bank
3                          Monterey County Bank
4  International City Bank Federal Savings Bank
5                       Home Bank of California
6                       Community Commerce Bank
7                         Mission National Bank
8              State Bank of India (California)
9                             First Credit Bank

In [83]:
db = sqlite3.connect('fdicdata.db')

In [84]:
# Create bank table
db.executescript("""
drop table if exists banks;
create table banks (
  id integer primary key autoincrement,
  CERT text not null,
  CITY textz not null,
  NAME text not null,
  STNAME text not null,
  ZIP integer not null
);
""")

In [85]:
query = '''INSERT INTO banks (
                        CERT, 
                        CITY, 
                        NAME,
                        STNAME, 
                        ZIP
                        )
                VALUES (                  
                        :CERT, 
                        :CITY, 
                        :NAME,
                        :STNAME, 
                        :ZIP
                        );'''

for d in resp.json()['data']:
    #creates params to be passed to db.execute along with query
    bank_params = {
        "CERT": d['data'].get('CERT'),
        "CITY": d['data'].get('CITY'),
        "NAME": d['data'].get('NAME'),
        "STNAME": d['data'].get('STNAME'),
        "ZIP": d['data'].get('ZIP')
    }
    db.execute(query, bank_params)
    db.commit()

In [92]:
cursor = db.execute("SELECT * FROM banks")

for row in cursor:
    print(row)

#cursor.close()

(1, '1536', 'Stockton', 'Bank of Stockton', 'California', 95202)
(2, '22366', 'Los Angeles', 'GBC International Bank', 'California', 90036)
(3, '22460', 'Monterey', 'Monterey County Bank', 'California', 93940)
(4, '23749', 'San Francisco', 'Mission National Bank', 'California', 94103)
(5, '23998', 'Los Angeles', 'State Bank of India (California)', 'California', 90017)
(6, '19222', 'Fremont', 'Fremont Bank', 'California', 94538)
(7, '21956', 'Santa Barbara', 'Montecito Bank & Trust', 'California', 93101)
(8, '24332', 'Los Angeles', 'First Credit Bank', 'California', 90069)
(9, '24735', 'Santa Clara', 'Silicon Valley Bank', 'California', 95054)
(10, '25648', 'Long Beach', 'International City Bank Federal Savings Bank', 'California', 90802)

In [93]:
df = pd.DataFrame([row for row in cursor])
df.head()

Empty DataFrame
Columns: []
Index: []

In [96]:
pd.read_sql_query("SELECT * FROM banks",db)

,id,CERT,CITY,NAME,STNAME,ZIP
0,1,1536,Stockton,Bank of Stockton,California,95202
1,2,22366,Los Angeles,GBC International Bank,California,90036
2,3,22460,Monterey,Monterey County Bank,California,93940
3,4,23749,San Francisco,Mission National Bank,California,94103
4,5,23998,Los Angeles,State Bank of India (California),California,90017
5,6,19222,Fremont,Fremont Bank,California,94538
6,7,21956,Santa Barbara,Montecito Bank & Trust,California,93101
7,8,24332,Los Angeles,First Credit Bank,California,90069
8,9,24735,Santa Clara,Silicon Valley Bank,California,95054
9,10,25648,Long Beach,International City Bank Federal Savings Bank,California,90802

In [94]:
cursor.close()