In [1]:
import requests

resp = requests.get('https://banks.data.fdic.gov/api/institutions', params={
    'filters': 'STALP:CA AND ACTIVE:1',
    'fields': 'ZIP,OFFDOM,CITY,COUNTY,STNAME,STALP,NAME,ACTIVE,CERT,CBSA,ASSET,NETINC,DEP,DEPDOM,ROE,ROA,DATEUPDT,OFFICES',
    'limit': 10,
    'offset':0
})

In [2]:
doc = resp.json()

In [3]:
doc['meta']

{'total': 155,
 'parameters': {'filters': 'STALP:CA AND ACTIVE:1',
  'fields': 'ZIP,OFFDOM,CITY,COUNTY,STNAME,STALP,NAME,ACTIVE,CERT,CBSA,ASSET,NETINC,DEP,DEPDOM,ROE,ROA,DATEUPDT,OFFICES',
  'limit': '10',
  'offset': '0'},
 'index': {'name': 'institutions_1541685634920',
  'createTimestamp': '2018-11-08T14:00:34Z'}}

In [ ]:
doc['data']

In [4]:
import pandas as pd
import json

In [6]:
#dat_ json.loads(doc)

In [7]:
#Another import from the web using read_html
#https://www.fdic.gov/bank/individual/failed/banklist.html
data = pd.read_html('https://www.fdic.gov/bank/individual/failed/banklist.html')

In [8]:
type(data)
data[0].head(15)

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Washington Federal Bank for Savings,Chicago,IL,30570,Royal Savings Bank,"December 15, 2017","February 21, 2018"
1,The Farmers and Merchants State Bank of Argonia,Argonia,KS,17719,Conway Bank,"October 13, 2017","February 21, 2018"
2,Fayette County Bank,Saint Elmo,IL,1802,"United Fidelity Bank, fsb","May 26, 2017","July 26, 2017"
3,"Guaranty Bank, (d/b/a BestBank in Georgia & Mi...",Milwaukee,WI,30003,First-Citizens Bank & Trust Company,"May 5, 2017","March 22, 2018"
4,First NBC Bank,New Orleans,LA,58302,Whitney Bank,"April 28, 2017","December 5, 2017"
5,Proficio Bank,Cottonwood Heights,UT,35495,Cache Valley Bank,"March 3, 2017","March 7, 2018"
6,Seaway Bank and Trust Company,Chicago,IL,19328,State Bank of Texas,"January 27, 2017","May 18, 2017"
7,Harvest Community Bank,Pennsville,NJ,34951,First-Citizens Bank & Trust Company,"January 13, 2017","May 18, 2017"
8,Allied Bank,Mulberry,AR,91,Today's Bank,"September 23, 2016","September 25, 2017"
9,The Woodbury Banking Company,Woodbury,GA,11297,United Bank,"August 19, 2016","June 1, 2017"
10,First CornerStone Bank,King of Prussia,PA,35312,First-Citizens Bank & Trust Company,"May 6, 2016","September 6, 2016"
11,Trust Company Bank,Memphis,TN,9956,The Bank of Fayette County,"April 29, 2016","September 6, 2016"
12,North Milwaukee State Bank,Milwaukee,WI,20364,First-Citizens Bank & Trust Company,"March 11, 2016","March 13, 2017"
13,Hometown National Bank,Longview,WA,35156,Twin City Bank,"October 2, 2015","February 19, 2018"
14,The Bank of Georgia,Peachtree City,GA,35259,Fidelity Bank,"October 2, 2015","July 9, 2018"